/*!
 * Style.css
 * author: michael depaula
 * custom css style css
*/
@media (max-width: 767px) {
	.thumb-set1 .thumbnail .caption p {
		margin-bottom:35px;
	}
}
@media (min-width: 768px) {
	.thumb-set1 .thumbnail .caption p {
		margin-bottom:1px;
	}
}
@media (min-width: 992px) {
	.thumb-set1 .thumbnail .caption p {
		margin-bottom:60px;
	}
}
@media (min-width: 1200px) {
	.thumb-set1 .thumbnail .caption p {
		margin-bottom:25px;
	}
}

h1{
	margin-bottom: 15px;	
}
.title{
	font: 300 38px "Century Gothic", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	color: #414141;
	height:124px;
	padding-top:40px;
}
.title p{
	padding-top:3px;
	font-size:12px;
}
.main{

	position:relative;
	overflow:hidden;
	margin: 0 0 30px;
	padding:455px 0 0px;
	background:url(../img/main.jpg) top no-repeat;
}
.csplit{
	color:	#69d3ed;
}
.thumb0{
	margin: 0;
}
.thumb1{
	margin: 0 80px 0px 80px;	
}
.thumb2{
	margin: 0 80px 40px 80px;	
}
.thumb1{
	height:124px;
}
.thumb-set1 {
	margin: 0;
	padding:0 0 20px 0;
	border:1px solid #E4E4E4;
	text-align: center;
}
.thumb-set1 .thumbnail {
	position: relative;
	padding: 0;	
	border: none;
}
.thumb-set1 .thumbnail .caption {
	padding: 0 25px;
}
.thumb-set1 .thumbnail .title-head {
	font: 300 26px/1.3em "Century Gothic", Arial, sans-serif;	
	position:absolute;
	color:#FFFFFF;
	padding-top:90px;	
}
.thumb-set1 .thumbnail .caption .title {
	font: 300 18px/1.3em "Century Gothic", Arial, sans-serif;
	color:#373737;
}
.thumb-set1 .thumbnail .caption p {
	font: 100 18px/1em Arial, Verdana, sans-serif;
	color:#272727;
	font-size: 14px;
	line-height: 21px;	
}
.thumb-set1 figure {
	margin: 0 0 20px 0;
}
.thumb-set1 figure img {
	width: 100%;
}
.thumb-set1 span {
	margin:30px 0 10px 0;
}
.caption p:nth-child(1){
	margin:0 0 30x 0; 
	display:none;		
}
.caption p:nth-child(2){
	display:none;	
}
.caption ul{
	display:none; 	
}
.caption ul li{
	padding: 0 0 8px 0;
}
.thumb-pad1 {
	margin: 0 0 41px 0;
}
.thumb-pad1:hover .thumbnail strong {
	background:#f0d495;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
.thumb-pad1 .thumbnail {
	position: relative;
	margin: 0;
	border-radius: 0;
	border: none;
	padding: 0;
	background: none;
}
.thumb-pad1 .thumbnail strong {
	background: #69d3ed;
	width: 52px;
	height: 52px;
	text-align: center;
	line-height: 52px;
	border-radius: 100%;
	margin-right: 11px;
	float: left;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
	color:#1B2B46;
}
.thumb-pad1 .thumbnail .caption1 {
	padding: 12px 0 0 0;
	overflow: hidden;
}
.thumb-pad1 .thumbnail .caption1 .description {
	font: 100 18px/1em Arial, Verdana, sans-serif;
	text-transform: uppercase;
	color: #3e3e3e;
	margin-bottom: 7px;
}
footer{
	background-color: #1e2d37;
	color:#FFFFFF;
	margin-bottom:30px;
	padding: 5px 0 8px 0; 
}
footer .f_title{
	font: 300 18px "Century Gothic", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	height:44px;
	padding-top:15px;
}
footer a {
color: #507493;
}
footer a:hover,
footer a:focus {
  color:#B8B8B8;
}
.navbar{
	margin-top: 10px;	
}
.navbar-header{
	padding: 0 10px 0 10px;	
}